.right-align{
	right: 16px;
    /* margin-right: -1px !important; */
    position: fixed;
}
.table{
	border : 1px solid blue;
	margin-left: auto;
  	margin-right: auto;
}
.table td{
	margin: 2px;
	padding: 6px;
	
}